{%extends 'base.html'%}
{% load static %}  <!-- Load static files before using the static tag -->

{%block day_info %}
  <section class="container">


    <div class="row">
      <form class="col" id="search-form" action="">
        <input
          type="text"
          id="search-input"
          aria-describedby="searchCity"
          placeholder="Search city..."
          class="search-form"
          autocomplete="off"
          name="city"
        />
        <button type="submit">Search</button>
      </form>
  
    <h1
      class="col d-flex justify-content-center align-items-center city-title"
      id="searched-city"
    >
    {{ city_name|title }} 
    </h1>
    </div>
  </section>
{%endblock%}
  <!-- <span class="measurements">
    <a href="#" id="celcius-link">C°</a> |
    <a href="#" id="fahrenheit-link">F°</a>
  </span> -->


<!-- temp and day info -->

{% block current_weather %}

<section class="current-weather">
  <div class="container">
    <div class="row">
      <h4 class="col temp-title" id="current-temperature">{{ current_weather.max_temperature|floatformat:0 }}° </h4> 
      <!-- <h4 class="col temp-title" id="current-temperature">{{ current_weather.min_temperature|floatformat:0 }}°</s> -->
      <div class="col todays-info">
        <p id="current-time">{{ current_time }}</p>
        <h2 id="current-day">{{ current_weather.date|date:"F j" }}</h2>
        <h3 id="weather-type">{{ current_weather.weather_description }}</h3>  <!-- Предположим, что вы добавили это поле в WeatherData -->
      </div>
      <div class="col d-flex align-items-center side-info">
        <ul>
          <li><svg class="precip-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 16"><path fill="none" fill-rule="nonzero" stroke="#878787" stroke-width=".714" d="M5.532.891c1.723.952 5.315 5.477 5.775 8.756.028 1.718-.534 3.101-1.45 4.082C8.888 14.766 7.52 15.357 6 15.357a5.532 5.532 0 0 1-3.74-1.425c-.975-.89-1.587-2.124-1.616-3.49.503-4.035 4.013-8.49 4.888-9.551Zm-1.815 7.33a.336.336 0 0 0-.025.043c-.322.62-.59 1.255-.695 2.207.012.408.143.787.358 1.111.234.352.568.641.96.839.035.017.071.021.106.017a.201.201 0 0 0 .104-.044l.01-.005-.078-.1c-.328-.415-.82-1.067-.82-1.946 0-.752.076-1.613.08-2.121Z"></path></svg>
            <span id="humidity">{{ current_weather.humidity }}%</span>
          </li>
          <li>Wind:  <span id="wind">{{ current_weather.wind_speed }} m/s</span></li>
        </ul>
      </div>
    </div>
  </div>
  <hr />
</section>
{% endblock %}

{%block content%}


  <!--5 day forecast-->
  <section class="container">
    <div class="row week-forecast">
        {%for i in object_list %}
          <!-- {%if i == {{current_day}} } -->
        <!-- <h1>{{i.day}}</h1> -->
        <!-- <a href="{{ i.get_absolute_url }}" > -->
          <div class="weather-card {% if request.path == i.get_absolute_url %}active{% endif %}">
            <!-- if current url == i.get_absolute_url class == "weather-card active" -->
            <a href="{{i.get_absolute_url}}?city={{ city_name }}" >
                <h3>{{ i.date }}</h3> <br>
                {%if i.weather_image%}
                  <img src="{{ i.weather_image }}" alt="Weather icon" style="width: 50px; height: 50px;">
                {%else %}
                  <img src="https://img.icons8.com/color-glass/42/000000/sun.png" alt="Weather icon">
                {%endif%}
                <div class="block">
                    <div class="min-temp">Min: {{ i.min_temperature|floatformat:0 }}°C</div>
                    <div>Prec: {{i.humidity}} %</div>
                </div>
                <!-- <div class="block">
                    <div>Perc.: {{i.humidity}} %</div>
                    <div>Wind speed: {{i.wind_speed}} m/s</div>
                </div> -->
            </a>
        </div>
      <!-- </a> -->
        {%endfor%}


{% endblock %}


